@font-face {
    font-family: Frances;
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: Frances I;
    src: url(assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: DMMono M;
    src: url(assets/fonts/dm-mono/DMMono-Medium.ttf);
}

@font-face {
    font-family: DMMono R;
    src: url(assets/fonts/dm-mono/DMMono-Regular.ttf);
}

@font-face {
    font-family: DMSans;
    src: url(assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
    --fontFrances: 'Frances', sans-serif;
    --fontFrancesI: 'Frances I', sans-serif;
    --fontDMMonoM: 'DMMono M', sans-serif;
    --fontDMMonoR: 'DMMono R', sans-serif;
    --fontDMSans: 'DMSans', sans-serif;

    /* Borda */
    --border: 1px solid var(--shadow);

    /* Background */
    --bg-main:        #FBF7F2;
    --bg-card:        #FFFFFF;
    --bg-sidebar:     #F6F3F0;

    /* Primary */
    --primary-100:    #F4C7A6;
    --primary-200:    #E59A68;
    --primary-300:    #C36136;
    --primary-400:    #A44220;
    --primary-500:    #7A2F17;

    /* Accent */
    --yellow:         #ffcd62;
    --blue:           #5D6FD1;
    --pink:           #C85D8B;

    /* Text */
    --text-dark:      #342F28;
    --text-light:     #6B625C;
    --text-muted:     #9A938D;

    /* Borders */
    --shadow:         rgba(40, 25, 10, .12);

    --trans: all 0.2s ease-in-out
}



